<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
</head>
<body>
    {{> header }}
    <p>Hello {{ name }} </p>
    <p>We know, you like: {{ likes }}</p>

    {{> footer }}
</body>
</html>