<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <h1>We are under maintenance, sorry for the inconvenience... :(</h1>
    <p><i>We'll be back in: {{ backIn }}</i></p>
</body>
</html>